<div class="container">
  <div class="jumbotron container_form">
  <h1><strong>Usuarios</strong></h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Nombre</th>
          <th>Correo</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= link_to  "Editar", edit_user_path(user) %></td>
            <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estás seguro de eliminar este usuario?' } %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
