<div class="container">
  <div class="container_form">
    <%= render "form", name: "Editar" %>
    <div class="field">
      <%= link_to 'Detalle', @project %> |
      <%= link_to 'Proyectos', projects_path %> |
      <%= link_to 'Regresar', :back %>
    </div>
  </div>
</div>