.container-60{
  @extend %max-60;
  padding-top: 2.5em !important;
  text-align: center;
}

.users{
  font-size: 1.25em;
  &__titulo{
  margin: 0;
  padding: 0;
  }
  &__email,
  &__password,
  &__name{
    @extend %min-60;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: .50em 1em;
  }
  &__boton{
    @extend %boton;
    &--guardar,
    &--cancelar{
      width: 250px;
      height: 50px;
      border: none;
      border-radius: 0 !important;
    }
    &:hover{
      @extend %hover;
    }
  }
  &__editar{
    padding-top: 0 !important;
    &--name{
      padding: 0.1em 1em;
    }
  }
  &__footer{
    margin-left: 19%;
  }
}
.field{
  margin: .75em 0;
}
.jumbotron{
  margin-top: 30px;
}
.container_form{
  @extend %max-80;
  height: 500px;
}