// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  @include background('portada.jpg');
  text-align: center;
  padding: 3em 0;
  .avatar{
    margin: 0;
    &__image{
      width: 15em;
      border: 5px solid white;
      border-radius: 50%;
      margin-bottom: 2em;
    }
    &__contenido,
    &__descripcion--large{
      font-size: 1.4em;
      color: peru;
    }
    &__link{
      font-size: 1.4em;
      font-weight: 700;
      text-decoration: none;
      color: orange;
    }

  }
}
footer{
  background: $grisoscuro;
  color: $grisclaro;
  height: 145px;
}