<p>Hola <%= @resource.email %>!</p>

<p>Alguién ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo mediante el enlace de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>En caso de que no lo hayas solicitado, por favor ignora este correo.</p>
<p>Tu contraseña no será cambiada a menos que ingreses al enlace de abajo y crees uno nuevo.</p>
